@tailwind base;
@tailwind components;
@tailwind utilities;

/* yantramanav-100 - latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local(''), url('./fonts/yantramanav-v6-latin-100.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/yantramanav-v6-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yantramanav-300 - latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(''), url('./fonts/yantramanav-v6-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/yantramanav-v6-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yantramanav-regular - latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url('./fonts/yantramanav-v6-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/yantramanav-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  height: 100%;
  background-color: #161616;
  overflow: unset !important;
}
body {
  margin: 0;
  font-family: Yantramanav, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
  background: linear-gradient(0deg, #2b2e34, #161616);
  text-align: center;
  min-height: 100%;
  overflow: auto;
  padding: 0;
  color: white;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.MuiSlider-valueLabelOpen {
  display: inline;
}
