@tailwind base;
@tailwind components;
@tailwind utilities;

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('./fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/raleway-v28-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('./fonts/raleway-v28-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/raleway-v28-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('./fonts/raleway-v28-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('./fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/raleway-v28-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('./fonts/raleway-v28-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/raleway-v28-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('./fonts/raleway-v28-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#reset-this-root {
  all: unset;
}

@media screen and (min-width: 481px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

:root {
  color-scheme: dark;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #0F0823;
}
body {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

button {
  border: unset;
  background: unset;
  font: unset;
  padding: unset;
}

hr {
  width: 50px;
  border: none;
  height: 1px;
  background: theme('colors.secondary');
  opacity: 40%;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.bg-button-header {
  background: linear-gradient(145deg, #0f61a0, #093a60);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 40%),
    -5px -5px 10px rgb(255 255 255 / 70%);
}

.shadow-service-offer {
  box-shadow: 0px 0px 50px 0px #003040;
}

.shadow-skills-tag-turquoise {
  box-shadow: 0px 0px 20px -10px #009fda;
}

.shadow-skills-tag-purple {
  box-shadow: 0px 0px 20px -10px #8F00FF;
}


.bg-stack-overflow {
  background: #e3e3ec;
  box-shadow: inset 4px 4px 6px #a1a1af, inset -4px -4px 6px #f3f3fc;
}

.bg-tag {
  background: #c9c9dc;
  box-shadow: inset 1px 1px 3px #9494a2, inset -1px -1px 3px #e8e8f5;
}

.bg-contact {
  background: linear-gradient(145deg, #cbcbdf, #ababbb);
  box-shadow: 5px 5px 11px #90909f, -5px -5px 11px #d6d6e7;
}

.bg-timeline-circle {
  background: #bebed0;
  box-shadow: inset 4px 4px 6px #9797a6, inset -4px -4px 6px #d7d7eb;
}

.bg-pagination {
  background: linear-gradient(145deg, theme('colors.primary'), #babaca);
  box-shadow: 3px 3px 6px #74747d, -3px -3px 6px #dee5e8;
}

.bg-about-me {
  background: theme('colors.neutral');
  box-shadow: inset 1px 1px 3px #9494a2, inset -1px -1px 3px #ffffff;
}

.mask-header {
  -webkit-mask-image: linear-gradient(
          180deg,
          transparent 0%,
          black 5%,
          black 95%,
          transparent 100%
  );
  mask-image: linear-gradient(
          180deg,
          transparent 0%,
          black 5%,
          black 95%,
          transparent 100%
  );
}

.mask-swiper {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.mask-swiper-narrow {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid;
}

.h-ios-screen {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  height: 100vh;
  height: -webkit-fill-available;
}

*:focus {
  outline: none;
  filter: brightness(65%);
}
